body{
  padding: 20px;
  text-align: center;
  font-size: 1.2em;
}

input{
    font-size: 1.2em;
    padding: 5px;
    color: #444;
    border-radius: 5px;
    border:1px solid #ccc;
    background: #eee;
    margin:50px;
}
ul.contacts {
    -webkit-padding-start: 0;
}
ul.contacts li {
    list-style: none;
    border-bottom: 1px solid #ccc;
    margin: 20px auto;
    width: 340px;
    text-align: left;
}
ul.contacts li img{
  vertical-align: middle;
  border-radius: 50%;
  margin-right: 40px;
  margin-bottom: 20px;
}
ul.contacts li p{
  display: inline-block;
}